@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  --tw-ring-color: transparent !important;
}

:root {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: black;
  }
}

@layer base {
  h1 {
    @apply py-6 text-3xl font-bold md:py-4;
  }

  h2 {
    @apply py-4 text-2xl font-semibold md:py-3;
  }

  h3 {
    @apply py-3 text-xl font-medium md:py-2;
  }

  section {
    @apply flex w-full flex-col gap-2 whitespace-nowrap rounded-2xl border border-stone-300 px-3 py-4 md:px-8 md:py-6 dark:border-stone-700;
    @apply bg-white/50 dark:bg-stone-950/50;
  }
}
