@tailwind components;
@layer components {
  .diverse-gradient {
    background-image: radial-gradient(at 27% 37%, #3a8bfd 0, transparent 50%),
      radial-gradient(at 97% 21%, #9772fe 0, transparent 50%),
      radial-gradient(at 52% 99%, #fd3a4e 0, transparent 50%),
      radial-gradient(at 10% 29%, #5afc7d 0, transparent 50%),
      radial-gradient(at 97% 96%, #e4c795 0, transparent 50%),
      radial-gradient(at 33% 50%, #8ca8e8 0, transparent 50%),
      radial-gradient(at 79% 53%, #eea5ba 0, transparent 50%);
    filter: blur(100px) saturate(150%);
  }

  .simple-gradient {
    filter: blur(100px) saturate(150%);
    @apply bg-gradient-to-br from-emerald-100 to-cyan-100;
  }
}
